.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  height: 100vh;
}

table {
  width: 70%;
  margin: 50px auto;
  border-collapse: collapse;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 10px;
}

.delete-button {
  background-color: #eb5e5e;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.delete-button:hover {
  background-color: #b30000;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  min-height: 100%; /* You can change this to your preferred background */
}

/* Style for the card itself */
.card {
  width: 30rem;
  max-width: 50rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* This adds a shadow effect */
  background-color: #ffffff; /* Card background color */
  padding: 20px; /* Space inside the card */
  margin: 0 auto; /* Center the card */
  border-radius: 8px; /* Optional: if you want rounded corners */
}
