.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  height: 100vh;
}

table {
  width: 70%;
  margin: 50px auto;
  border-collapse: collapse;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 10px;
}

.delete-button {
  background-color: #eb5e5e;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.delete-button:hover {
  background-color: #b30000;
}
